<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.umbc.ebiquity.mithril">

    <!-- Remember to add all the permissions you request here in the PermissionHelper class for handling permission acquisition -->
    <!-- Special permissions; to be requested in special manner -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- @SystemApi @hide Allows an application to collect battery statistics -->
    <uses-permission
        android:name="android.permission.GET_APP_OPS_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- @SystemApi Allows an application to update application operation statistics. Not for use by third party apps. -->
    <uses-permission
        android:name="android.permission.UPDATE_APP_OPS_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- @SystemApi Allows an application to update the user app op restrictions. Not for use by third party apps. -->
    <uses-permission
        android:name="android.permission.MANAGE_APP_OPS_RESTRICTIONS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!--
     New version of GET_TASKS that apps can request, since GET_TASKS doesn't really
     give access to task information.  We need this new one because there are
     many existing apps that use add libraries and such that have validation
     code to ensure the app has requested the GET_TASKS permission by seeing
     if it has been granted the permission...  if it hasn't, it kills the app
     with a message about being upset.  So we need to have it continue to look
     like the app is getting that permission, even though it will never be
     checked, and new privileged apps can now request this one for real access.
     @SystemApi
    -->
    <uses-permission
        android:name="android.permission.REAL_GET_TASKS"
        tools:ignore="ProtectedPermissions" />

    <!-- dangerous permission type; request to be made explicitly; protectionLevel: PROTECTION_DANGEROUS; list as follows -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <!-- PROTECTION_NORMAL -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <!--
        permissions automatically available to app; protectionLevel: PROTECTION_NORMAL; not a dangerous permission; list as follows:-
        ACCESS_LOCATION_EXTRA_COMMANDS
        ACCESS_NETWORK_STATE
        ACCESS_NOTIFICATION_POLICY
        ACCESS_WIFI_STATE
        BLUETOOTH
        BLUETOOTH_ADMIN
        BROADCAST_STICKY
        CHANGE_NETWORK_STATE
        CHANGE_WIFI_MULTICAST_STATE
        CHANGE_WIFI_STATE
        DISABLE_KEYGUARD
        EXPAND_STATUS_BAR
        GET_PACKAGE_SIZE
        INSTALL_SHORTCUT
        INTERNET
        KILL_BACKGROUND_PROCESSES
        MODIFY_AUDIO_SETTINGS
        NFC
        READ_SYNC_SETTINGS
        READ_SYNC_STATS
        RECEIVE_BOOT_COMPLETED
        REORDER_TASKS
        REQUEST_IGNORE_BATTERY_OPTIMIZATIONS
        REQUEST_INSTALL_PACKAGES
        SET_ALARM
        SET_TIME_ZONE
        SET_WALLPAPER
        SET_WALLPAPER_HINTS
        TRANSMIT_IR
        UNINSTALL_SHORTCUT
        USE_FINGERPRINT
        VIBRATE
        WAKE_LOCK
        WRITE_SYNC_SETTINGS
    -->

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".MithrilAC"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/short_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Google Places API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBuyRKl_kn-CphjG5xuPHZgHw3FaFDJnjk" />
        <!-- Google Awareness API Key -->
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyBuyRKl_kn-CphjG5xuPHZgHw3FaFDJnjk" />
        <!-- Google Nearby messages API Key -->
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyBuyRKl_kn-CphjG5xuPHZgHw3FaFDJnjk" />
        <!-- Google Places API Key -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.activities.LauncherActivity"
            android:label="@string/short_app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ShowUserAgreementActivity"
            android:label="@string/title_activity_show_user_agreement"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activities.PermissionAcquisitionActivity"
            android:label="@string/title_activity_permission_acquisition"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activities.InitKBActivity"
            android:label="@string/title_activity_load_db"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activities.InstanceCreationActivity"
            android:label="@string/title_activity_instance_creation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.SetupGeofencesActivity"
            android:label="@string/title_activity_setup_geofences"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.InstanceCreationActivity" />
        </activity>
        <activity
            android:name=".ui.activities.SetupTimefencesActivity"
            android:label="@string/title_activity_setup_timefences"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.InstanceCreationActivity" />
        </activity>
        <activity
            android:name=".ui.activities.TemporalDataEntryActivity"
            android:label="@string/title_activity_temporal_data_entry"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.InstanceCreationActivity" />
        </activity>
        <activity
            android:name=".ui.activities.DownloadPoliciesActivity"
            android:label="@string/title_activity_download_policies"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activities.CoreActivity"
            android:label="@string/title_activity_core"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".ui.activities.CoreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.CoreActivity" />
        </activity>
        <activity
            android:name=".ui.activities.ShowAppDetailsActivity"
            android:label="@string/title_activity_view_app_detail"
            android:parentActivityName=".ui.activities.CoreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.CoreActivity" />
        </activity>
        <activity
            android:name=".ui.activities.RuleChangeActivity"
            android:label="@string/title_activity_rule_change"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.CoreActivity" />
        </activity>
        <!-- <activity -->
        <!-- android:name=".ui.activities.PrefsActivity" -->
        <!-- android:label="@string/title_activity_prefs" -->
        <!-- android:parentActivityName=".ui.activities.CoreActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value=".ui.activities.CoreActivity" /> -->
        <!-- </activity> -->
        <!-- TestActivity was used for the IEEE CIC paper. This will possibly be removed or modified in the future. -->
        <!-- <activity -->
        <!-- android:name=".ui.activities.TestActivity" -->
        <!-- android:label="@string/title_activity_test_main" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.nfc.action.NDEF_DISCOVERED" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <data android:mimeType="text/plain" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".ui.activities.AppOpsDetailsActivity"
            android:label="@string/title_activity_app_ops_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ShowPermissionDetailActivity"
            android:label="@string/title_activity_show_permission_detail"
            android:parentActivityName=".ui.activities.CoreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.CoreActivity" />
        </activity>
        <activity android:name=".ui.activities.DisplayUploadDataActivity"
            android:label="@string/title_activity_display_upload_data"
            android:parentActivityName=".ui.activities.CoreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.CoreActivity" />
        </activity>

        <receiver
            android:name=".util.receivers.AppInstallBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.receivers.StartServicesOnBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".util.services.AppLaunchDetectorService"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/mithril_service_name" />
        <!-- <service -->
        <!-- android:name=".util.services.LocationUpdateService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false" /> -->
        <service
            android:name=".util.services.FetchAddressIntentService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".util.services.GeofenceTransitionsIntentService"
            android:exported="false" />
        <service
            android:name=".util.services.ExecuteRulesIntentService"
            android:exported="false" />
    </application>
</manifest>