<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.umbc.ebiquity.mithril">

    <!-- Remember to add all the permissions you request here in the PermissionHelper class for handling permission acquisition -->
    <!-- Special permissions; to be requested in special manner -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- @SystemApi @hide Allows an application to collect battery statistics -->
    <uses-permission
        android:name="android.permission.GET_APP_OPS_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- @SystemApi Allows an application to update application operation statistics. Not for use by third party apps. -->
    <uses-permission
        android:name="android.permission.UPDATE_APP_OPS_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- @SystemApi Allows an application to update the user app op restrictions. Not for use by third party apps. -->
    <uses-permission
        android:name="android.permission.MANAGE_APP_OPS_RESTRICTIONS"
        tools:ignore="ProtectedPermissions" />
    <!-- <uses-permission android:name="android.permission.GET_TASKS" /> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->


    <!-- dangerous permission type; request to be made explicitly; protectionLevel: PROTECTION_DANGEROUS; list as follows -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
        permissions automatically available to app; protectionLevel: PROTECTION_NORMAL; not a dangerous permission; list as follows:-
        ACCESS_LOCATION_EXTRA_COMMANDS
        ACCESS_NETWORK_STATE
        ACCESS_NOTIFICATION_POLICY
        ACCESS_WIFI_STATE
        BLUETOOTH
        BLUETOOTH_ADMIN
        BROADCAST_STICKY
        CHANGE_NETWORK_STATE
        CHANGE_WIFI_MULTICAST_STATE
        CHANGE_WIFI_STATE
        DISABLE_KEYGUARD
        EXPAND_STATUS_BAR
        GET_PACKAGE_SIZE
        INSTALL_SHORTCUT
        INTERNET
        KILL_BACKGROUND_PROCESSES
        MODIFY_AUDIO_SETTINGS
        NFC
        READ_SYNC_SETTINGS
        READ_SYNC_STATS
        RECEIVE_BOOT_COMPLETED
        REORDER_TASKS
        REQUEST_IGNORE_BATTERY_OPTIMIZATIONS
        REQUEST_INSTALL_PACKAGES
        SET_ALARM
        SET_TIME_ZONE
        SET_WALLPAPER
        SET_WALLPAPER_HINTS
        TRANSMIT_IR
        UNINSTALL_SHORTCUT
        USE_FINGERPRINT
        VIBRATE
        WAKE_LOCK
        WRITE_SYNC_SETTINGS
    -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <!-- <uses-feature -->
    <!-- android:name="android.hardware.nfc" -->
    <!-- android:required="true" /> -->
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/short_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Google Places API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBuyRKl_kn-CphjG5xuPHZgHw3FaFDJnjk" />

        <activity
            android:name=".ui.activities.LauncherActivity"
            android:label="@string/short_app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ShowUserAgreementActivity"
            android:label="@string/title_activity_show_user_agreement"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activities.PermissionAcquisitionActivity"
            android:label="@string/title_activity_permission_acquisition"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activities.LoadKBActivity"
            android:label="@string/title_activity_load_db"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activities.CoreActivity"
            android:label="@string/title_activity_core"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ShowAppDetailsActivity"
            android:label="@string/title_activity_view_app_detail"
            android:parentActivityName=".ui.activities.CoreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.CoreActivity" />
        </activity>
        <activity
            android:name=".ui.activities.RuleChangeActivity"
            android:label="@string/title_activity_rule_change"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.CoreActivity" />
        </activity>
        <activity
            android:name=".ui.activities.PrefsActivity"
            android:label="@string/title_activity_prefs"
            android:parentActivityName=".ui.activities.CoreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.CoreActivity" />
        </activity>
        <!-- TestActivity was used for the IEEE CIC paper. This will possibly be removed or modified in the future. -->
        <activity
            android:name=".ui.activities.TestActivity"
            android:label="@string/title_activity_test_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.UsageStatsActivity"
            android:label="@string/title_activity_usage_stats"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".util.receivers.AppInstallBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.receivers.StartServicesOnBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".util.services.AppLaunchDetectorService"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/mithril_service_name" />
        <!-- <service -->
        <!-- android:name=".util.services.LocationUpdateService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false" /> -->
        <service
            android:name=".util.services.FetchAddressIntentService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".util.services.GeofenceTransitionsIntentService"
            android:exported="false" />
        <service
            android:name=".util.services.ExecuteRulesIntentService"
            android:exported="false" />

        <activity
            android:name=".ui.activities.AppOpsDetailsActivity"
            android:label="@string/title_activity_app_ops_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>